body {
	background: url('../img/card_table.png');
	background-repeat: no-repeat;
}

.container{
  position:fixed;
    top: 50%;
    left: 20%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}



.Solo-but{
  font-size: 40px;
  text-decoration: none;
}

.Solo-but: hover{
  text-decoration: none;
}



.Instruct-but{
  font-size: 20px;
}

.home_card{
  position: absolute;
  left: 110px;
}

.home_card {
  perspective: 1000;
}
.home_card {
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.home_card:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
